body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#main-window {
    flex-direction: column;
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
}

#game-window {
    margin-top: 0px;
    margin-left: -200px;
    /* margin: 100px; 
    padding: 100px;  */
    position: absolute;
    /* background: rgb(0, 0, 0);  */
    /* position: relative;   */
    overflow: hidden;
    /* position: absolute; */
    /* align-self: center; */
    /* justify-self: center; */
}





#buttons {
    display: grid;
    grid-template-areas: "left shoot right";
    height: 12%;
    width: 80%;
    justify-self: flex-start;
    align-self: center;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

#right-button {
    grid-area: right;
    background-image: url('../img/stainless.png');
    border-top-right-radius: 20px;
    outline: none;
}

#shoot-button {
    grid-area: shoot;
    background-image: url('../img/stainless.png');
    outline: none;
}

#left-button {
    grid-area: left;
    background-image: url('../img/stainless.png');
    border-top-left-radius: 20px;
    outline: none;
}

i {
    color: white;
   font-size: 2em;
}